In [ ]:
Pandas-1. This is a python library which is used to analyse and manipulate data.
2. It has two data structures.
a. Series- 1 D labelled data
b. Data frames- 2 D tables.

In [8]:
# Series
import pandas as pd
data=[10,20,30,40,60]

ser=pd.Series(data)
print(ser)

ser=pd.Series([10,20,30,40,60],index=['a','b','c','d','e'])
print(ser)

0    10
1    20
2    30
3    40
4    60
dtype: int64
a    10
b    20
c    30
d    40
e    60
dtype: int64

In [13]:
# Dataframe
import pandas as pd
data={
    'Name':['Ankit','aman','Arjun','Abhishek'],
    'Age':[20,21,22,23],
    'Marks':[55,67,55,45]}
df=pd.DataFrame(data)                # use DataFrame
print(df)

       Name  Age  Marks
0     Ankit   20     55
1      aman   21     67
2     Arjun   22     55
3  Abhishek   23     45

In [17]:
# Read csv files
import pandas as pd
df=pd.read_csv("F:\organizations-100.csv")
print(df)

    Index  Organization Id                     Name  \
0       1  FAB0d41d5b5d22c              Ferrell LLC
1       2  6A7EdDEA9FaDC52  Mckinney, Riley and Day
2       3  0bFED1ADAE4bcC1               Hester Ltd
3       4  2bFC1Be8a4ce42f           Holder-Sellers
4       5  9eE8A6a4Eb96C24              Mayer Group
..    ...              ...                      ...
95     96  0a0bfFbBbB8eC7c             Holmes Group
96     97  BA6Cd9Dae2Efd62                 Good Ltd
97     98  E7df80C60Abd7f9        Clements-Espinoza
98     99  AFc285dbE2fEd24               Mendez Inc
99    100  e9eB5A60Cef8354           Watkins-Kaiser

                           Website                      Country  \
0               https://price.net/             Papua New Guinea
1   http://www.hall-buchanan.info/                      Finland
2        http://sullivan-reed.com/                        China
3              https://becker.com/                 Turkmenistan
4           http://www.brewer.com/                    Mauritius
..                             ...                          ...
95           https://mcdowell.org/                     Ethiopia
96               http://duffy.com/                     Anguilla
97         http://www.flowers.net/  Falkland Islands (Malvinas)
98          https://www.burke.net/              Kyrgyz Republic
99         http://www.herring.com/                         Togo

                                       Description  Founded  \
0              Horizontal empowering knowledgebase     1990
1              User-centric system-worthy leverage     2015
2                   Switchable scalable moratorium     1971
3   De-engineered systemic artificial intelligence     2004
4               Synchronized needs-based challenge     1991
..                                             ...      ...
95          Right-sized zero tolerance focus group     1975
96         Reverse-engineered composite moratorium     1971
97                         Progressive modular hub     1991
98                 User-friendly exuding migration     1993
99                   Synergistic background access     2009

                       Industry  Number of employees
0                      Plastics                 3498
1   Glass / Ceramics / Concrete                 4952
2                 Public Safety                 5287
3                    Automotive                  921
4                Transportation                 7870
..                          ...                  ...
95                  Photography                 2988
96            Consumer Services                 4292
97              Broadcast Media                  236
98         Education Management                  339
99           Financial Services                 2785

[100 rows x 9 columns]

In [19]:
# Write csv files
import pandas as pd
df.to_csv("F:\organizations-100.csv",index=False)
print(df)

    Index  Organization Id                     Name  \
0       1  FAB0d41d5b5d22c              Ferrell LLC
1       2  6A7EdDEA9FaDC52  Mckinney, Riley and Day
2       3  0bFED1ADAE4bcC1               Hester Ltd
3       4  2bFC1Be8a4ce42f           Holder-Sellers
4       5  9eE8A6a4Eb96C24              Mayer Group
..    ...              ...                      ...
95     96  0a0bfFbBbB8eC7c             Holmes Group
96     97  BA6Cd9Dae2Efd62                 Good Ltd
97     98  E7df80C60Abd7f9        Clements-Espinoza
98     99  AFc285dbE2fEd24               Mendez Inc
99    100  e9eB5A60Cef8354           Watkins-Kaiser

                           Website                      Country  \
0               https://price.net/             Papua New Guinea
1   http://www.hall-buchanan.info/                      Finland
2        http://sullivan-reed.com/                        China
3              https://becker.com/                 Turkmenistan
4           http://www.brewer.com/                    Mauritius
..                             ...                          ...
95           https://mcdowell.org/                     Ethiopia
96               http://duffy.com/                     Anguilla
97         http://www.flowers.net/  Falkland Islands (Malvinas)
98          https://www.burke.net/              Kyrgyz Republic
99         http://www.herring.com/                         Togo

                                       Description  Founded  \
0              Horizontal empowering knowledgebase     1990
1              User-centric system-worthy leverage     2015
2                   Switchable scalable moratorium     1971
3   De-engineered systemic artificial intelligence     2004
4               Synchronized needs-based challenge     1991
..                                             ...      ...
95          Right-sized zero tolerance focus group     1975
96         Reverse-engineered composite moratorium     1971
97                         Progressive modular hub     1991
98                 User-friendly exuding migration     1993
99                   Synergistic background access     2009

                       Industry  Number of employees
0                      Plastics                 3498
1   Glass / Ceramics / Concrete                 4952
2                 Public Safety                 5287
3                    Automotive                  921
4                Transportation                 7870
..                          ...                  ...
95                  Photography                 2988
96            Consumer Services                 4292
97              Broadcast Media                  236
98         Education Management                  339
99           Financial Services                 2785

[100 rows x 9 columns]

In [32]:
# Data frame basics
import pandas as pd
df=pd.read_csv("F:\organizations-100.csv")
print(df.head())
print(df.tail())
print(df.shape)
print(df.columns)
print(df.info())
print(df.describe())

   Index  Organization Id                     Name  \
0      1  FAB0d41d5b5d22c              Ferrell LLC
1      2  6A7EdDEA9FaDC52  Mckinney, Riley and Day
2      3  0bFED1ADAE4bcC1               Hester Ltd
3      4  2bFC1Be8a4ce42f           Holder-Sellers
4      5  9eE8A6a4Eb96C24              Mayer Group

                          Website           Country  \
0              https://price.net/  Papua New Guinea
1  http://www.hall-buchanan.info/           Finland
2       http://sullivan-reed.com/             China
3             https://becker.com/      Turkmenistan
4          http://www.brewer.com/         Mauritius

                                      Description  Founded  \
0             Horizontal empowering knowledgebase     1990
1             User-centric system-worthy leverage     2015
2                  Switchable scalable moratorium     1971
3  De-engineered systemic artificial intelligence     2004
4              Synchronized needs-based challenge     1991

                      Industry  Number of employees
0                     Plastics                 3498
1  Glass / Ceramics / Concrete                 4952
2                Public Safety                 5287
3                   Automotive                  921
4               Transportation                 7870
    Index  Organization Id               Name                  Website  \
95     96  0a0bfFbBbB8eC7c       Holmes Group    https://mcdowell.org/
96     97  BA6Cd9Dae2Efd62           Good Ltd        http://duffy.com/
97     98  E7df80C60Abd7f9  Clements-Espinoza  http://www.flowers.net/
98     99  AFc285dbE2fEd24         Mendez Inc   https://www.burke.net/
99    100  e9eB5A60Cef8354     Watkins-Kaiser  http://www.herring.com/

                        Country                              Description  \
95                     Ethiopia   Right-sized zero tolerance focus group
96                     Anguilla  Reverse-engineered composite moratorium
97  Falkland Islands (Malvinas)                  Progressive modular hub
98              Kyrgyz Republic          User-friendly exuding migration
99                         Togo            Synergistic background access

    Founded              Industry  Number of employees
95     1975           Photography                 2988
96     1971     Consumer Services                 4292
97     1991       Broadcast Media                  236
98     1993  Education Management                  339
99     2009    Financial Services                 2785
(100, 9)
Index(['Index', 'Organization Id', 'Name', 'Website', 'Country', 'Description',
       'Founded', 'Industry', 'Number of employees'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Index                100 non-null    int64
 1   Organization Id      100 non-null    object
 2   Name                 100 non-null    object
 3   Website              100 non-null    object
 4   Country              100 non-null    object
 5   Description          100 non-null    object
 6   Founded              100 non-null    int64
 7   Industry             100 non-null    object
 8   Number of employees  100 non-null    int64
dtypes: int64(3), object(6)
memory usage: 7.2+ KB
None
            Index      Founded  Number of employees
count  100.000000   100.000000           100.000000
mean    50.500000  1995.410000          4964.860000
std     29.011492    15.744228          2850.859799
min      1.000000  1970.000000           236.000000
25%     25.750000  1983.500000          2741.250000
50%     50.500000  1995.000000          4941.500000
75%     75.250000  2010.250000          7558.000000
max    100.000000  2021.000000          9995.000000

In [43]:
# Columns and row access
import pandas as pd
df=pd.DataFrame(data)

print(df["Name"])
print(df[["Name","Age"]])

print(df.iloc[0])                                 # row by index
print(df.loc[1])                                  # row by label(index)

0       Ankit
1        aman
2       Arjun
3    Abhishek
Name: Name, dtype: object
       Name  Age
0     Ankit   20
1      aman   21
2     Arjun   22
3  Abhishek   23
Name     Ankit
Age         20
Marks       55
Name: 0, dtype: object
Name     aman
Age        21
Marks      67
Name: 1, dtype: object

In [50]:
# Filtering data
import pandas as pd

print(df[df["Age"]>20])          # Age>20
print(df[df["Marks"]<=50])       # Marks <=50

       Name  Age  Marks
1      aman   21     67
2     Arjun   22     55
3  Abhishek   23     45
       Name  Age  Marks
3  Abhishek   23     45

In [55]:
# Adding and updating 
import pandas as pd
df['Grade']=['B','A','C','D']           # Add new column
print(df)

df['Marks']=df['Marks']+5              # update
print(df)

       Name  Age  Marks Grade
0     Ankit   20     55     B
1      aman   21     67     A
2     Arjun   22     55     C
3  Abhishek   23     45     D
       Name  Age  Marks Grade
0     Ankit   20     60     B
1      aman   21     72     A
2     Arjun   22     60     C
3  Abhishek   23     50     D

In [63]:
# grouping and aggregation
import pandas as pd
data={
    'Department':['IT','IT','Finance','Finanace','HR'],
    'Salary':[50000,46000,44444,78000,43000]
              }
df=pd.DataFrame(data)
print(df.groupby('Department')['Salary'].mean())

Department
Finanace    78000.0
Finance     44444.0
HR          43000.0
IT          48000.0
Name: Salary, dtype: float64

In [69]:
# Missing data(Nan handling)
import numpy as np
import pandas as pd
data={
    'Name':['Ankit','aman','Arjun','Abhishek'],
    'Age':[20,np.nan,22,23],
    'Marks':[55,np.nan,55,45]}
df=pd.DataFrame(data)  
print(df)
print(df.isnull())                # check nan
print(df.fillna(0))               # fill na with 0
print(df.dropna())                # removes nan rows

       Name   Age  Marks
0     Ankit  20.0   55.0
1      aman   NaN    NaN
2     Arjun  22.0   55.0
3  Abhishek  23.0   45.0
    Name    Age  Marks
0  False  False  False
1  False   True   True
2  False  False  False
3  False  False  False
       Name   Age  Marks
0     Ankit  20.0   55.0
1      aman   0.0    0.0
2     Arjun  22.0   55.0
3  Abhishek  23.0   45.0
       Name   Age  Marks
0     Ankit  20.0   55.0
2     Arjun  22.0   55.0
3  Abhishek  23.0   45.0

In [75]:
# sorting
import pandas as pd
data={
    'Name':['Ankit','aman','Arjun','Abhishek'],
    'Age':[20,21,22,23],
    'Marks':[55,60,55,45]}
df=pd.DataFrame(data)  
print(df.sort_values(by='Marks'))

       Name  Age  Marks
3  Abhishek   23     45
0     Ankit   20     55
2     Arjun   22     55
1      aman   21     60

In [83]:
# merge,join and concat
df1=pd.DataFrame({'ID':[1,2],'Name':['Ankit','Abhishek']})
df2=pd.DataFrame({'ID':[1,2],'marks':['55','45']})

# merge
print(pd.merge(df1,df2,on='ID'))

# concat
print(pd.concat([df1,df2],axis=0))

   ID      Name marks
0   1     Ankit    55
1   2  Abhishek    45
   ID      Name marks
0   1     Ankit   NaN
1   2  Abhishek   NaN
0   1       NaN    55
1   2       NaN    45

In [21]:
# ðŸš€ Project 1- Employee Insights Dashboard (Employees Dataset)
# Load data
# Basic info
# gender analysis
# Job title analsis
# Full name column
# Date of Joining insight

#1. Load data
import pandas as pd
df=pd.read_csv("E:\people-100.csv")

#Basic information 
print("Total Employees",len(df))
print(df.info)

# Gender ananlysis
print('Gender count:/n',df['Sex'].value_counts())

#Job title analysis
print('Jon title are:/n',df['Job Title'].value_counts())

# Full name column
df['Full name']=df['First Name']+" "+df['Last Name']
print('The full names are:/n',df['Full name'].value_counts())

# Date of Joining insights
df['Date of birth'] = pd.to_datetime(df['Date of birth'])

print("Earliest birth:", df['Date of birth'].min())
print("Latest birth:", df['Date of birth'].max())

Total Employees 100
<bound method DataFrame.info of     Index          User Id First Name  Last Name     Sex  \
0       1  88F7B33d2bcf9f5     Shelby    Terrell    Male
1       2  f90cD3E76f1A9b9    Phillip    Summers  Female
2       3  DbeAb8CcdfeFC2c   Kristine     Travis    Male
3       4  A31Bee3c201ef58    Yesenia   Martinez    Male
4       5  1bA7A3dc874da3c       Lori       Todd    Male
..    ...              ...        ...        ...     ...
95     96  5eFda7caAeB260E     Dennis     Barnes  Female
96     97  CCbFce93d3720bE      Steve  Patterson  Female
97     98  2fEc528aFAF0b69     Wesley       Bray    Male
98     99  Adc7ad9B6e4A1Fe     Summer   Oconnell  Female
99    100  b8D0aD3490FC7e1     Mariah    Bernard    Male

                         Email                   Phone Date of birth  \
0         elijah57@example.net  001-084-906-7849x73518    1945-10-26
1        bethany14@example.com       214.112.6044x4913    1910-03-24
2        bthompson@example.com            277.609.7938    1992-07-02
3    kaitlinkaiser@example.com            584.094.6111    2017-08-03
4   buchananmanuel@example.net       689-207-3558x7233    1938-12-01
..                         ...                     ...           ...
95         bmartin@example.org    001-095-524-2112x257    1954-07-30
96       latasha46@example.net        001-865-478-5157    1932-04-29
97        regina11@example.org      995-542-3004x76800    1994-12-28
98  alexiscantrell@example.org    001-273-685-6932x092    2012-04-12
99       pcopeland@example.org     (341)594-6554x44657    2016-11-15

                Job Title
0         Games developer
1          Phytotherapist
2               Homeopath
3       Market researcher
4      Veterinary surgeon
..                    ...
95      Software engineer
96              Barrister
97         Police officer
98   Broadcast journalist
99  IT sales professional

[100 rows x 9 columns]>
Gender count:/n Sex
Female    53
Male      47
Name: count, dtype: int64
Jon title are:/n Job Title
Biochemist, clinical                                           3
Outdoor activities/education manager                           2
Scientist, clinical (histocompatibility and immunogenetics)    2
Retail banker                                                  2
Accountant, chartered management                               2
                                                              ..
Software engineer                                              1
Barrister                                                      1
Police officer                                                 1
Broadcast journalist                                           1
IT sales professional                                          1
Name: count, Length: 91, dtype: int64
The full names are:/n Full name
Shelby Terrell      1
Phillip Summers     1
Kristine Travis     1
Yesenia Martinez    1
Lori Todd           1
                   ..
Dennis Barnes       1
Steve Patterson     1
Wesley Bray         1
Summer Oconnell     1
Mariah Bernard      1
Name: count, Length: 100, dtype: int64
Earliest birth: 1908-08-22 00:00:00
Latest birth: 2021-05-05 00:00:00

In [45]:
# ðŸš€ Project 2: Industry & Company Size Analysis (Organizations Dataset)
# Load data 
# Basic info
# Industry analysis
# country analysis
# Top companies analysis
# Average company size per industry 
# Founded date insights

#1. Load data
import pandas as pd
org_df=pd.read_csv("E:\organizations-100.csv")
#print((org_df).head())
print(org_df.columns)

#Basic info
print('Total Emplyees :/n',len(org_df))
print(df.info())

#Industry analysis
print("Organizations per Industry:/n",org_df['Industry'].value_counts())

# country analysis
print("The organizations country: / n",org_df['Country'].value_counts())

#Top company analysis
top5=org_df.nlargest(5,'Number of employees')
print(top5[['Name' ,'Number of employees']])

# Average company size per industry
print('Average comapny size by employees',org_df.groupby('Industry')['Number of employees'].mean())

Index(['Index', 'Organization Id', 'Name', 'Website', 'Country', 'Description',
       'Founded', 'Industry', 'Number of employees'],
      dtype='object')
Total Emplyees :/n 100
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Index          100 non-null    int64
 1   User Id        100 non-null    object
 2   First Name     100 non-null    object
 3   Last Name      100 non-null    object
 4   Sex            100 non-null    object
 5   Email          100 non-null    object
 6   Phone          100 non-null    object
 7   Date of birth  100 non-null    datetime64[ns]
 8   Job Title      100 non-null    object
 9   Full name      100 non-null    object
dtypes: datetime64[ns](1), int64(1), object(8)
memory usage: 7.9+ KB
None
Organizations per Industry:/n Industry
Plastics                         4
Primary / Secondary Education    3
Printing                         3
Facilities Services              3
Military Industry                3
                                ..
Newspapers / Journalism          1
Gambling / Casinos               1
Photography                      1
Consumer Services                1
Education Management             1
Name: count, Length: 72, dtype: int64
The organizations country: / n Country
Sweden                          3
Benin                           3
Korea                           2
Pakistan                        2
United States Virgin Islands    2
                               ..
Burundi                         1
Gibraltar                       1
El Salvador                     1
Ethiopia                        1
Anguilla                        1
Name: count, Length: 84, dtype: int64
                          Name  Number of employees
37                 Cuevas-Moss                 9995
9                   Gaines Inc                 9698
47  Wallace, Madden and Morris                 9443
63                   Riley Ltd                 9315
61                  Soto Group                 9097
Average comapny size by employees Industry
Accounting                        5004.0
Alternative Dispute Resolution    4044.0
Architecture / Planning           7961.0
Arts / Crafts                     2800.0
Automotive                         921.0
                                   ...
Utilities                         2610.0
Venture Capital / VC              7443.0
Wholesale                         5010.0
Wireless                          6146.0
Writing / Editing                 9067.0
Name: Number of employees, Length: 72, dtype: float64